# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
